
*{
  box-sizing: border-box;

  background-color: skyblue;
}
.wrapper{
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 80px 50px;
}
.anime{
  width: 20%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  border: 1px solid brown;
  border-radius: 5px;
  box-shadow: 0 0 15px -2px gray;
  padding: 10px 0;
}
.anime-img{
  width: 190px;
  height: 290px;
}
.anime-heading{
  font-size: 15px;
}